<link rel="stylesheet" href="/CSS/_starsRate.css">
<div class="radio-input">
    <input value="color-5" name="color" id="color-5" type="radio" />
    <label for="color-5">
         <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                   <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                   <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                   <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Check">
                             <path
                                  stroke-linejoin="round"
                                  stroke-linecap="round"
                                  stroke-width="2"
                                  stroke="#ffffff"
                                  d="M6 12L10.2426 16.2426L18.727 7.75732"
                                  id="Vector"
                             ></path>
                        </g>
                   </g>
              </svg>
         </span>
    </label>

    <input value="color-4" name="color" id="color-4" type="radio" />
    <label for="color-4">
         <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                   <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                   <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                   <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Check">
                             <path
                                  stroke-linejoin="round"
                                  stroke-linecap="round"
                                  stroke-width="2"
                                  stroke="#ffffff"
                                  d="M6 12L10.2426 16.2426L18.727 7.75732"
                                  id="Vector"
                             ></path>
                        </g>
                   </g>
              </svg>
         </span>
    </label>

    <!-- checked="" -->
    <input value="color-3" name="color" id="color-3" type="radio" />
    <label for="color-3">
         <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                   <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                   <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                   <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Check">
                             <path
                                  stroke-linejoin="round"
                                  stroke-linecap="round"
                                  stroke-width="2"
                                  stroke="#ffffff"
                                  d="M6 12L10.2426 16.2426L18.727 7.75732"
                                  id="Vector"
                             ></path>
                        </g>
                   </g>
              </svg>
         </span>
    </label>

    <input value="color-2" name="color" id="color-2" type="radio" />
    <label for="color-2">
         <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                   <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                   <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                   <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Check">
                             <path
                                  stroke-linejoin="round"
                                  stroke-linecap="round"
                                  stroke-width="2"
                                  stroke="#ffffff"
                                  d="M6 12L10.2426 16.2426L18.727 7.75732"
                                  id="Vector"
                             ></path>
                        </g>
                   </g>
              </svg>
         </span>
    </label>

    <input value="color-1" name="color" id="color-1" type="radio" />
    <label for="color-1">
         <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                   <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                   <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                   <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Check">
                             <path
                                  stroke-linejoin="round"
                                  stroke-linecap="round"
                                  stroke-width="2"
                                  stroke="#ffffff"
                                  d="M6 12L10.2426 16.2426L18.727 7.75732"
                                  id="Vector"
                             ></path>
                        </g>
                   </g>
              </svg>
         </span>
    </label>
</div>