<link rel="stylesheet" href="/CSS/assignTask.css" />

<h3 class="text-center mt-3">Assign Task</h3>
<hr />

<div class="container rounded-4 d-flex justify-content-between bg-primary text-white p-3 d-flex" style="font-size: large">
     <div class="d-inline-flex">
          Ask &nbsp;
          <div class="custom-select">
               <select>
                    <option value="" selected disabled>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                    <option value="option4">Option 4</option>
               </select>
          </div>
     </div>
     <div class="d-inline-flex">
          To review &nbsp;
          <div class="custom-select">
               <select>
                    <option value="" selected disabled>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                    <option value="option4">Option 4</option>
               </select>
          </div>
     </div>
     <div>By Admin: <strong>Shivam</strong></div>
     <div><button class="button">Assign</button></div>
</div>

<h4 class="text-center mt-5">Activity</h4>
<hr />
<div class="d-inline-flex">
     <button class="button2" style="background-color: #06d6a0">
          <span>
               <i class="fa-solid fa-plus fa-lg" style="color: #001427"></i>
               <a href="/user/createEmployee" style="text-decoration: none; color: #001427"
                    ><strong> &nbsp; Add User</strong></a
               >
          </span>
     </button>
     <button class="button2" style="background-color: #ffd166">
          <span>
               <i class="fa-solid fa-list-check fa-lg" style="color: #001427"></i>
               <a href="/user/" style="text-decoration: none; color: #001427"><strong> &nbsp; Assign Task</strong></a>
          </span>
     </button>
     <button class="button2" style="background-color: #f72585">
          <span>
               <i class="fa-solid fa-toggle-off fa-lg" style="color: #001427"></i>
               <a href="/user/employee-dash" style="text-decoration: none; color: #001427"
                    ><strong> &nbsp; Switch To Employee</strong></a
               >
          </span>
     </button>
     <button class="button2" style="background-color: #118ab2">
          <span>
               <i class="fa-solid fa-toggle-off fa-lg" style="color: #001427"></i>
               <a href="/user/admin-dash" style="text-decoration: none; color: #001427"
                    ><strong> &nbsp; Switch To Admin</strong></a
               >
          </span>
     </button>
</div>
