<link rel="stylesheet" href="/CSS/home.css" />
<title><%= title %></title>
<div class="container text-center">
     <h1>Welcome to ERS</h1>
     <p>
          Employee Review System is designed to help us better understand your performance, identify areas for
          improvement, and provide you with the feedback you need to succeed. The system is easy to use and will allow
          you to track your progress over time.
     </p>
     <div class="container">
        <%- include('signIn') %>
     </div>
</div>
