<div class="container d-inline-flex p-2 bd-highlight" style="width: 800px;">
    <div class="alert alert-dismissible alert-warning">
         <h4 class="alert-heading">Notification</h4>
         <p class="mb-0">
              Hey Danish, Your Admin, Shivam has requeted to review your colleague:
              <a href="#" class="alert-link">Saurabh Mishra</a>
         </p>
    </div>
</div>