<link rel="stylesheet" href="/CSS/signIn.css" />
<div class="container text-center">
     <div class="login-box">
          <p>Sign In</p>
          <form>
               <div class="user-box">
                    <input required="" name="" type="text" />
                    <label>Email</label>
               </div>
               <div class="user-box">
                    <input required="" name="" type="password" />
                    <label>Password</label>
               </div>
               <button type="submit" class="btn btn-light mt-1">Sign In</button>
          </form>
          <p>Don't have an account? <a href="/sign-up" class="a2">Sign up!</a></p>
     </div>
</div>
