<link rel="stylesheet" href="/CSS/signIn.css" />
<h3 class="text-center mt-5">Sign in to your ERS Account</h3>
<div class="container d-flex justify-content-center">
     <div class="login-box">
          <p>Sign In</p>
          <form action="/user/create-session" method="post">
               <div class="user-box">
                    <input required="" name="email" type="email" />
                    <label>Email</label>
               </div>
               <div class="user-box">
                    <input required="" name="password" type="password" />
                    <label>Password</label>
               </div>
               <button type="submit" class="btn btn-light m-2 ">Sign In</button>
          </form><hr>
          <a href="/user/auth/google" style="text-decoration: none; border: 2px solid; border-radius: 6px; color: rgb(72, 72, 244); background-color: white; width: 100%; text-align: center; padding: 8px 10px; margin: 10px;">Sign In with Google</a> <hr>
          <p>Don't have an account? <a href="/sign-up" class="a2">Sign up!</a></p>
     </div>
</div>
